<div class="information">
    <h2>スケジュール詳細</h2>
</div>
<table>
    <tbody>
        <tr>
            <th>タイトル</th>
            <td><%= @user.title %></td>
        </tr>
        <tr>
            <th>開始日</th>
            <td><%= @user.startday %></td>
        </tr>
        <tr>
            <th>投稿日時</th>
            <td><%= @user.endday %></td>
        </tr>
        <tr>
            <th>終日</th>
            <td><%= @user.shuujitu %></td>
        </tr>
        <tr>
            <th>スケジュールメモ</th>
            <td><%= @user.memo %></td>
        </tr>
    </tbody>
</table>
<ul>
    <li><%= link_to "スケジュール一覧に戻る", :users %></li>
    <li>スケジュールを編集する</li>
    <li>スケジュールを削除</li>
</ul>

<%= render "shared/partialFooter" %>